In [2]:
import pandas
import numpy
import matplotlib.pyplot

In [3]:
s = pandas.Series([1,3,5,numpy.nan,6,8])

In [4]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [6]:
dates = pandas.date_range('20150125',periods=7)
dates

DatetimeIndex(['2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-01-31'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [15]:
df = pandas.DataFrame(numpy.random.randn(7,3), index=dates, columns={'cat','mouse','duck'})
df

                 cat     mouse      duck
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.621329 -0.535969  0.106471
2015-01-27 -0.299851  2.700946 -0.792238
2015-01-28 -1.593825  0.258312  0.376496
2015-01-29  0.041528 -1.472887  1.033294
2015-01-30 -0.581163  2.120845 -0.038650
2015-01-31 -0.092025 -1.430893  0.504209

In [27]:
df2 = pandas.DataFrame({ 'A' : numpy.random.randn(4), 'B' : pandas.Timestamp('20130102'), 'C' : pandas.Series(1,index=list(range(4)),dtype='float32'), 'D' : numpy.array([3] * 4,dtype='int32'), 'E' : pandas.Categorical(["test","train","test","train"]), 'F' : 'foo' })
df2

          A          B  C  D      E    F
0  0.537908 2013-01-02  1  3   test  foo
1  0.770045 2013-01-02  1  3  train  foo
2 -2.453708 2013-01-02  1  3   test  foo
3 -0.491707 2013-01-02  1  3  train  foo

In [28]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [29]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [30]:
df.index

DatetimeIndex(['2015-01-25', '2015-01-26', '2015-01-27', '2015-01-28',
               '2015-01-29', '2015-01-30', '2015-01-31'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [31]:
df.dtypes

cat      float64
mouse    float64
duck     float64
dtype: object

In [32]:
df2.values

array([[0.5379076964169098, Timestamp('2013-01-02 00:00:00'), 1.0, 3,
        'test', 'foo'],
       [0.7700448552963788, Timestamp('2013-01-02 00:00:00'), 1.0, 3,
        'train', 'foo'],
       [-2.4537083986343795, Timestamp('2013-01-02 00:00:00'), 1.0, 3,
        'test', 'foo'],
       [-0.49170663027585715, Timestamp('2013-01-02 00:00:00'), 1.0, 3,
        'train', 'foo']], dtype=object)

In [33]:
df.values

array([[ 0.13245844,  1.66099027,  0.20526478],
       [ 0.62132927, -0.53596921,  0.1064715 ],
       [-0.29985065,  2.70094593, -0.79223829],
       [-1.59382486,  0.25831233,  0.37649597],
       [ 0.04152767, -1.47288717,  1.03329364],
       [-0.58116306,  2.12084546, -0.03865017],
       [-0.0920246 , -1.43089339,  0.504209  ]])

In [41]:
df.T

,2015-01-25 00:00:00,2015-01-26 00:00:00,2015-01-27 00:00:00,2015-01-28 00:00:00,2015-01-29 00:00:00,2015-01-30 00:00:00,2015-01-31 00:00:00
cat,0.132458,0.621329,-0.299851,-1.593825,0.041528,-0.581163,-0.092025
mouse,1.660990,-0.535969,2.700946,0.258312,-1.472887,2.120845,-1.430893
duck,0.205265,0.106471,-0.792238,0.376496,1.033294,-0.038650,0.504209

In [39]:
df.sort(columns='cat')

                 cat     mouse      duck
2015-01-28 -1.593825  0.258312  0.376496
2015-01-30 -0.581163  2.120845 -0.038650
2015-01-27 -0.299851  2.700946 -0.792238
2015-01-31 -0.092025 -1.430893  0.504209
2015-01-29  0.041528 -1.472887  1.033294
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.621329 -0.535969  0.106471

In [42]:
df.describe

<bound method DataFrame.describe of                  cat     mouse      duck
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.621329 -0.535969  0.106471
2015-01-27 -0.299851  2.700946 -0.792238
2015-01-28 -1.593825  0.258312  0.376496
2015-01-29  0.041528 -1.472887  1.033294
2015-01-30 -0.581163  2.120845 -0.038650
2015-01-31 -0.092025 -1.430893  0.504209>

In [43]:
df.sort(columns='cat',ascending=False)

                 cat     mouse      duck
2015-01-26  0.621329 -0.535969  0.106471
2015-01-25  0.132458  1.660990  0.205265
2015-01-29  0.041528 -1.472887  1.033294
2015-01-31 -0.092025 -1.430893  0.504209
2015-01-27 -0.299851  2.700946 -0.792238
2015-01-30 -0.581163  2.120845 -0.038650
2015-01-28 -1.593825  0.258312  0.376496

In [44]:
df.sort_index(axis=0, ascending=False)

                 cat     mouse      duck
2015-01-31 -0.092025 -1.430893  0.504209
2015-01-30 -0.581163  2.120845 -0.038650
2015-01-29  0.041528 -1.472887  1.033294
2015-01-28 -1.593825  0.258312  0.376496
2015-01-27 -0.299851  2.700946 -0.792238
2015-01-26  0.621329 -0.535969  0.106471
2015-01-25  0.132458  1.660990  0.205265

In [47]:
 df.sort_index(axis=1,ascending=False)

               mouse      duck       cat
2015-01-25  1.660990  0.205265  0.132458
2015-01-26 -0.535969  0.106471  0.621329
2015-01-27  2.700946 -0.792238 -0.299851
2015-01-28  0.258312  0.376496 -1.593825
2015-01-29 -1.472887  1.033294  0.041528
2015-01-30  2.120845 -0.038650 -0.581163
2015-01-31 -1.430893  0.504209 -0.092025

In [48]:
 df.head(1)

                 cat    mouse      duck
2015-01-25  0.132458  1.66099  0.205265

In [49]:
df.head(3)

                 cat     mouse      duck
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.621329 -0.535969  0.106471
2015-01-27 -0.299851  2.700946 -0.792238

In [51]:
df.tail(1)

                 cat     mouse      duck
2015-01-31 -0.092025 -1.430893  0.504209

In [52]:
df['cat']

2015-01-25    0.132458
2015-01-26    0.621329
2015-01-27   -0.299851
2015-01-28   -1.593825
2015-01-29    0.041528
2015-01-30   -0.581163
2015-01-31   -0.092025
Freq: D, Name: cat, dtype: float64

In [54]:
df[1:3]

                 cat     mouse      duck
2015-01-26  0.621329 -0.535969  0.106471
2015-01-27 -0.299851  2.700946 -0.792238

In [59]:
df.loc[:,['cat','mouse']]

                 cat     mouse
2015-01-25  0.132458  1.660990
2015-01-26  0.621329 -0.535969
2015-01-27 -0.299851  2.700946
2015-01-28 -1.593825  0.258312
2015-01-29  0.041528 -1.472887
2015-01-30 -0.581163  2.120845
2015-01-31 -0.092025 -1.430893

In [61]:
df.loc['20150127':'20150129',['cat','mouse']]

                 cat     mouse
2015-01-27 -0.299851  2.700946
2015-01-28 -1.593825  0.258312
2015-01-29  0.041528 -1.472887

In [62]:
df[df['cat']>0]

                 cat     mouse      duck
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.621329 -0.535969  0.106471
2015-01-29  0.041528 -1.472887  1.033294

In [64]:
df[df>0].dropna()

                 cat    mouse      duck
2015-01-25  0.132458  1.66099  0.205265

In [67]:
df[df>0].fillna(value=0)

                 cat     mouse      duck
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.621329  0.000000  0.106471
2015-01-27  0.000000  2.700946  0.000000
2015-01-28  0.000000  0.258312  0.376496
2015-01-29  0.041528  0.000000  1.033294
2015-01-30  0.000000  2.120845  0.000000
2015-01-31  0.000000  0.000000  0.504209

In [71]:
df2=df.copy()
df2['color']=['blue', 'green','red','blue','green','red','blue']
df2

                 cat     mouse      duck  color
2015-01-25  0.132458  1.660990  0.205265   blue
2015-01-26  0.621329 -0.535969  0.106471  green
2015-01-27 -0.299851  2.700946 -0.792238    red
2015-01-28 -1.593825  0.258312  0.376496   blue
2015-01-29  0.041528 -1.472887  1.033294  green
2015-01-30 -0.581163  2.120845 -0.038650    red
2015-01-31 -0.092025 -1.430893  0.504209   blue

In [73]:
df2[df2['color'].isin(['green','blue'])]

                 cat     mouse      duck  color
2015-01-25  0.132458  1.660990  0.205265   blue
2015-01-26  0.621329 -0.535969  0.106471  green
2015-01-28 -1.593825  0.258312  0.376496   blue
2015-01-29  0.041528 -1.472887  1.033294  green
2015-01-31 -0.092025 -1.430893  0.504209   blue

In [74]:
df2['color'].isin(['green','blue'])

2015-01-25     True
2015-01-26     True
2015-01-27    False
2015-01-28     True
2015-01-29     True
2015-01-30    False
2015-01-31     True
Freq: D, Name: color, dtype: bool

In [75]:
df

                 cat     mouse      duck
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.621329 -0.535969  0.106471
2015-01-27 -0.299851  2.700946 -0.792238
2015-01-28 -1.593825  0.258312  0.376496
2015-01-29  0.041528 -1.472887  1.033294
2015-01-30 -0.581163  2.120845 -0.038650
2015-01-31 -0.092025 -1.430893  0.504209

In [76]:
 df.mean()

cat     -0.253078
mouse    0.471621
duck     0.199264
dtype: float64

In [78]:
df.mean(1)

2015-01-25    0.666238
2015-01-26    0.063944
2015-01-27    0.536286
2015-01-28   -0.319672
2015-01-29   -0.132689
2015-01-30    0.500344
2015-01-31   -0.339570
Freq: D, dtype: float64

In [79]:
df.median()

cat     -0.092025
mouse    0.258312
duck     0.205265
dtype: float64

In [80]:
0df.apply(numpy.cumsum)

                 cat     mouse      duck
2015-01-25  0.132458  1.660990  0.205265
2015-01-26  0.753788  1.125021  0.311736
2015-01-27  0.453937  3.825967 -0.480502
2015-01-28 -1.139888  4.084279 -0.104006
2015-01-29 -1.098360  2.611392  0.929288
2015-01-30 -1.679523  4.732238  0.890637
2015-01-31 -1.771548  3.301344  1.394846

In [83]:
df.apply(lambda x: x.max() - x.min())

cat      2.215154
mouse    4.173833
duck     1.825532
dtype: float64

In [96]:
p=pandas.Series([2,4,6,8])
frame_one = pandas.DataFrame(numpy.random.randn(4,4),index=p,columns={'a','b','c','d'})
frame_one

          a         c         b         d
2 -0.767538  0.205169 -0.131630  1.372305
4 -0.120747  0.682321 -0.020967 -2.444518
6 -1.080455 -0.266303  1.280138 -2.181960
8  0.226664  0.318455 -0.482504  0.621284

In [99]:
q=pandas.Series([1,3,5,7])
frame_two = pandas.DataFrame(numpy.random.randn(4, 4),index=q,columns={'a','b','c','d'})
frame_two

          a         c         b         d
1 -0.289045 -0.119991  1.907823 -0.258085
3 -0.286909  0.530888 -0.537122 -0.644147
5  0.377298 -0.558788 -0.031940 -0.637646
7 -0.716335 -0.556811 -0.220187 -1.261362

In [100]:
pandas.concat([frame_one, frame_two])

          a         c         b         d
2 -0.665715  0.542941 -2.244274  0.296342
4  0.489940  2.088256  0.347192  0.389906
6  0.708376  0.073111 -0.115657  0.135914
8 -1.779897 -0.896325  0.938378 -1.416623
1 -0.289045 -0.119991  1.907823 -0.258085
3 -0.286909  0.530888 -0.537122 -0.644147
5  0.377298 -0.558788 -0.031940 -0.637646
7 -0.716335 -0.556811 -0.220187 -1.261362

In [101]:
pandas.concat([frame_one, frame_two]).sort_index(axis=0)

          a         c         b         d
1 -0.289045 -0.119991  1.907823 -0.258085
2 -0.665715  0.542941 -2.244274  0.296342
3 -0.286909  0.530888 -0.537122 -0.644147
4  0.489940  2.088256  0.347192  0.389906
5  0.377298 -0.558788 -0.031940 -0.637646
6  0.708376  0.073111 -0.115657  0.135914
7 -0.716335 -0.556811 -0.220187 -1.261362
8 -1.779897 -0.896325  0.938378 -1.416623

In [102]:
r=pandas.Series([1,3,5,7])
frame_three = pandas.DataFrame(numpy.random.randn(4, 3),index=r,columns={'a','b','c'})
frame_three

          a         c         b
1  0.265782  1.314780  0.769058
3 -0.788685  0.103728 -0.791831
5 -0.654037  0.759357 -1.547867
7  0.904584 -0.018973 -1.237212

In [103]:
pandas.concat([frame_one, frame_three])

          a         b         c         d
2 -0.665715 -2.244274  0.542941  0.296342
4  0.489940  0.347192  2.088256  0.389906
6  0.708376 -0.115657  0.073111  0.135914
8 -1.779897  0.938378 -0.896325 -1.416623
1  0.265782  0.769058  1.314780       NaN
3 -0.788685 -0.791831  0.103728       NaN
5 -0.654037 -1.547867  0.759357       NaN
7  0.904584 -1.237212 -0.018973       NaN

In [104]:
pandas.concat([frame_one, frame_two,frame_three]).sort_index(axis=0)

          a         b         c         d
1 -0.289045  1.907823 -0.119991 -0.258085
1  0.265782  0.769058  1.314780       NaN
2 -0.665715 -2.244274  0.542941  0.296342
3 -0.286909 -0.537122  0.530888 -0.644147
3 -0.788685 -0.791831  0.103728       NaN
4  0.489940  0.347192  2.088256  0.389906
5  0.377298 -0.031940 -0.558788 -0.637646
5 -0.654037 -1.547867  0.759357       NaN
6  0.708376 -0.115657  0.073111  0.135914
7 -0.716335 -0.220187 -0.556811 -1.261362
7  0.904584 -1.237212 -0.018973       NaN
8 -1.779897  0.938378 -0.896325 -1.416623

In [110]:
left = pandas.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
left
right = pandas.DataFrame({'key': ['foo', 'foo', 'bar'], 'rval': [3, 4, 5]})
right
pandas.merge(left, right, on='key')

   key  lval  rval
0  foo     1     3
1  foo     1     4
2  bar     2     5

In [112]:
foo_bar = pandas.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'], 'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'], 'C': numpy.random.randn(8), 'D' : numpy.random.randn(8)})
foo_bar

     A      B         C         D
0  foo    one -0.528130  2.115491
1  bar    one -0.129753 -0.352301
2  foo    two  0.902155  0.439134
3  bar  three -0.093020  0.057338
4  foo    two  0.156936  0.903270
5  bar    two -0.032800 -0.045608
6  foo    one  0.833927  0.906395
7  foo  three -0.140330  0.232897

In [116]:
foo_bar.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.129753 -0.352301
    three -0.093020  0.057338
    two   -0.032800 -0.045608
foo one    0.305797  3.021886
    three -0.140330  0.232897
    two    1.059091  1.342404

In [119]:
foo_bar.groupby(['A','B']).sum().stack()

A    B
bar  one    C   -0.129753
            D   -0.352301
     three  C   -0.093020
            D    0.057338
     two    C   -0.032800
            D   -0.045608
foo  one    C    0.305797
            D    3.021886
     three  C   -0.140330
            D    0.232897
     two    C    1.059091
            D    1.342404
dtype: float64

In [124]:
rng = pandas.date_range('1/1/2015', periods=150, freq='S')
rng

DatetimeIndex(['2015-01-01 00:00:00', '2015-01-01 00:00:01',
               '2015-01-01 00:00:02', '2015-01-01 00:00:03',
               '2015-01-01 00:00:04', '2015-01-01 00:00:05',
               '2015-01-01 00:00:06', '2015-01-01 00:00:07',
               '2015-01-01 00:00:08', '2015-01-01 00:00:09',
               ...
               '2015-01-01 00:02:20', '2015-01-01 00:02:21',
               '2015-01-01 00:02:22', '2015-01-01 00:02:23',
               '2015-01-01 00:02:24', '2015-01-01 00:02:25',
               '2015-01-01 00:02:26', '2015-01-01 00:02:27',
               '2015-01-01 00:02:28', '2015-01-01 00:02:29'],
              dtype='datetime64[ns]', length=150, freq='S', tz=None)

In [125]:
time_series = pandas.Series(numpy.random.randint(0, 500, len(rng)), index=rng)
time_series.head()

2015-01-01 00:00:00    177
2015-01-01 00:00:01     67
2015-01-01 00:00:02    449
2015-01-01 00:00:03    257
2015-01-01 00:00:04    300
Freq: S, dtype: int32

In [127]:
time_series.resample('1Min', how='sum')

2015-01-01 00:00:00    16183
2015-01-01 00:01:00    16651
2015-01-01 00:02:00     8139
Freq: T, dtype: int32

In [129]:
ts_utc = time_series.tz_localize('UTC')
ts_utc.head()

2015-01-01 00:00:00+00:00    177
2015-01-01 00:00:01+00:00     67
2015-01-01 00:00:02+00:00    449
2015-01-01 00:00:03+00:00    257
2015-01-01 00:00:04+00:00    300
Freq: S, dtype: int32

In [132]:
ts_utc.to_csv('foo.csv')

In [134]:
new_frame = pandas.read_csv('foo.csv')
new_frame.head()

   2015-01-01 00:00:00+00:00  177
0  2015-01-01 00:00:01+00:00   67
1  2015-01-01 00:00:02+00:00  449
2  2015-01-01 00:00:03+00:00  257
3  2015-01-01 00:00:04+00:00  300
4  2015-01-01 00:00:05+00:00  218

In [138]:
new_frame.to_excel('foo.xlsx', sheet_name='Sheet1')
pandas.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA']).head()

   2015-01-01 00:00:00+00:00  177
0  2015-01-01 00:00:01+00:00   67
1  2015-01-01 00:00:02+00:00  449
2  2015-01-01 00:00:03+00:00  257
3  2015-01-01 00:00:04+00:00  300
4  2015-01-01 00:00:05+00:00  218

In [140]:
url_template = "http://climate.weather.gc.ca/climateData/bulkdata_e.html?format=csv&stationID=54"

In [141]:
url = url_template.format(month=3, year=2012)

In [142]:
weather_mar2012 = pandas.read_csv(url, skiprows=16, index_col='Date/Time', parse_dates=True, encoding='latin1')
weather_mar2012.head()

HTTPError: HTTP Error 401: Authorization Required